body {
    background-color: lightgray;
    font-family: 'Asap', sans-serif;
    padding-top: 5%;
    padding-left: 30%;
}

.login {
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
    width: 50%;
}

input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.btn {
    display: inline-block;
    background: #8e1b92;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #621794;
}